#backgroundColor{
    background-color: green;
    color: whitesmoke;
}

#backgroundImage{
    background-image: url(../image/lousa.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    font-family: 'Petemoss', cursive;
    font-size: 50px;
}

#backgroundRepeatPosition{
    border: solid green;
    color: rgb(11, 9, 136);
    font-family: 'Petemoss', cursive;
    font-size: 30px;

    background-image: url(../image/tree.png);
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: right;
}